@charset "shift_jis";

/* --------------------------------------------------------------
#gmenu
-------------------------------------------------------------- */

#gmenu {
	width:960px!important;
	margin:0 auto!important;
	position:relative;
	z-index:9700;
	border-left:solid 1px #efefef
	}

#gmenu li {
	display:block;
	float:left;
	/*z-index:9600;*/
	}
	
#gmenu .gmenu01 {
	width:192px;
	border-right:solid 1px #efefef;
	}
	
#gmenu .gmenu02 {
	width:191px;
	border-right:solid 1px #efefef;
	}
	
#gmenu .gmenu03 {
	width:190px;
	border-right:solid 1px #efefef;
	}
	
#gmenu .gmenu04 {
	width:191px;
	border-right:solid 1px #efefef;
	}
	
#gmenu .gmenu05 {
	width:191px;
	border-right:solid 1px #efefef;
	}
	
#gmenu li a.megaMenu {
	display:block;
	position:relative;
	height:65px;
	/*z-index:9900;*/
	}

#gmenu .gmenu01 a .off,
#gmenu .gmenu02 a .off,
#gmenu .gmenu03 a .off,
#gmenu .gmenu04 a .off,
#gmenu .gmenu05 a .off {
	position:absolute;
	top:0;
	left:0;
	}

#gmenu li a .on {
	display:none;
	position:relative;
	z-index:99999;
	}
	
#gmenu .dropdown {
	text-align:left;
	background:#fff;
	width:960px;
	padding:30px 40px;
	display:none;
	position:absolute;
	top:60px;
	left:-40px;
	z-index:9500;
	box-shadow:rgba(158, 158, 158, 0.30) 0px 0px 6px 3px;
	-webkit-box-shadow:rgba(158, 158, 158, 0.30) 0px 0px 6px 3px;
	-moz-box-shadow:rgba(158, 158, 158, 0.30) 0px 0px 6px 3px;
	border:solid 1px #efefef;
	line-height:1.5;
	}

/*for IE8*/	
html>/**/#gmenu .dropdown{
	border:solid 1px #efefef;
}

/*for IE7*/	
*+html #gmenu .gmenu01 .dropdown{
	border-top:none;
	background:url(../../images/common/bd_gmenu01.gif) 0 0 no-repeat #fff;
}

/*for IE7*/	
*+html #gmenu .gmenu02 .dropdown{
	border-top:none;
	background:url(../../images/common/bd_gmenu02.gif) 0 0 no-repeat #fff;
}

/*for IE7*/	
*+html #gmenu .gmenu03 .dropdown{
	border-top:none;
	background:url(../../images/common/bd_gmenu03.gif) 0 0 no-repeat #fff;
}

/*for IE7*/	
*+html #gmenu .gmenu04 .dropdown{
	border-top:none;
	background:url(../../images/common/bd_gmenu04.gif) 0 0 no-repeat #fff;
}

/*for IE7*/	
*+html #gmenu .gmenu05 .dropdown{
	border-top:none;
	background:url(../../images/common/bd_gmenu05.gif) 0 0 no-repeat #fff;
}

/*for IE6*/	
* html #gmenu .gmenu01 .dropdown{
	border-top:none;
	background:url(../../images/common/bd_gmenu01.gif) 0 0 no-repeat #fff;
}

/*for IE6*/	
* html #gmenu .gmenu02 .dropdown{
	border-top:none;
	background:url(../../images/common/bd_gmenu02.gif) 0 0 no-repeat #fff;
}

/*for IE6*/	
* html #gmenu .gmenu03 .dropdown{
	border-top:none;
	background:url(../../images/common/bd_gmenu03.gif) 0 0 no-repeat #fff;
}

/*for IE6*/	
* html #gmenu .gmenu04 .dropdown{
	border-top:none;
	background:url(../../images/common/bd_gmenu04.gif) 0 0 no-repeat #fff;
}

/*for IE6*/	
* html #gmenu .gmenu05 .dropdown{
	border-top:none;
	background:url(../../images/common/bd_gmenu05.gif) 0 0 no-repeat #fff;
}
	
#gmenu .dropdown .close {
	position:absolute;
	top:40px;
	right:40px;
	cursor:pointer;
	}

#gmenu .dropdown .leftArea {
	width:765px;
	float:left;
	border-right:solid 1px #efefef;
	}
	
#gmenu .gmenu04 .dropdown .leftArea {
	width:670px;
	}
	
#gmenu .dropdown .rightArea {
	float:right;
	}
	
#gmenu .gmenu01 .dropdown .rightArea,
#gmenu .gmenu02 .dropdown .rightArea,
#gmenu .gmenu03 .dropdown .rightArea {
	width:168px;
	}
	
#gmenu .gmenu04 .dropdown .rightArea {
	width:255px;
	padding:40px 0 0 0;
	}
	
#gmenu .dropdown .rightArea ul {
	margin:40px 0 0 0;
	}
	
#gmenu .gmenu04 .dropdown .rightArea ul {
	margin:0 0 0 0;
	}
	
#gmenu .dropdown .rightArea ul li {
	margin:0 0 16px 0;
	}
	
#gmenu .dropdown .leftArea h2 {
	margin:0 0 20px 0;
	clear:both;
	font-weight:normal;
	}
	
#gmenu .gmenu04 .dropdown .rightArea h3 {
	padding:0 0 10px 0;
	}

#gmenu .dropdown .leftArea .bnr {
	margin:0 0 20px 0;
	}
	
#gmenu .dropdown .leftArea .bnr li {
	margin:0 8px 0 0;
	}
	
#gmenu .dropdown .mapBlock {
	background:url(../../images/common/gmenu02_bg_map.gif) 0 0 no-repeat;
	width:502px;
	height:436px;
	float:left;
	border-right:solid 1px #efefef;
	position:relative;
	}

#gmenu .dropdown .mapBlock a {
	color:#222;
	}
	
#gmenu .dropdown .mapBlock a:hover {
	color:#e0384f;
	}
	
#gmenu .dropdown .mapBlock dl {
	position:absolute;
	}
	
#gmenu .dropdown .mapBlock .area01 {
	top:115px;
	right:49px;
	}
	
#gmenu .dropdown .mapBlock .area02 {
	top:188px;
	right:32px;
	width:100px;
	}
	
#gmenu .dropdown .mapBlock .area02 dt {
	text-align:left;
	padding:0 0 10px 30px
	}
	
#gmenu .dropdown .mapBlock .area03 {
	top:317px;
	right:37px;
	width:100px;
	}
	
#gmenu .dropdown .mapBlock .area04 {
	top:101px;
	left:165px;
	width:100px;
	}
	
#gmenu .dropdown .mapBlock .area05 {
	top:357px;
	right:159px;
	width:100px;
	}
	
#gmenu .dropdown .mapBlock .area06 {
	top:101px;
	left:10px;
	width:100px;
	}
	
#gmenu .dropdown .mapBlock .area05 dt {
	text-align:left;
	padding:0 0 10px 30px
	}
	
#gmenu .dropdown .mapBlock .area07 {
	top:221px;
	left:20px;
	width:250px;
	}
	
#gmenu .dropdown .mapBlock .area08 {
	top:357px;
	left:10px;
	width:200px;
	}
	
#gmenu .dropdown .mapBlock dl dt {
	font-size:13px;
	font-weight:bold;
	text-align:center;
	padding:0 0 10px 0;
	}
	
#gmenu .dropdown .mapBlock .area01 dt {
	top:115px;
	right:49px;
	padding:0 0 0 10px;
	background:url(../../images/common/icon_link03.gif) 0 7px no-repeat;
	}
	


#gmenu .dropdown .mapBlock dl dd p {
	
	}
	
#gmenu .dropdown .mapBlock dl dd p {
	width:40px;
	float:left;
	padding:0 0 0 10px;
	background:url(../../images/common/icon_link03.gif) 0 7px no-repeat;
	font-size:12px;
	}
	
#gmenu .dropdown .bnrBlock {
	width:222px;
	float:right;
	}
	
#gmenu .dropdown .bnrBlock ul li {
	padding:0 0 15px 0;
	}
	
#gmenu .gmenu01 a,
#gmenu .gmenu02 a,
#gmenu .gmenu03 a,
#gmenu .gmenu04 a,
#gmenu .gmenu05 a {
	color:#222;
	}
	
#gmenu .gmenu03 .listBlock {
	margin:0 0 15px 0;
	}
	
#gmenu .gmenu03 .listBlock img {
	float:left;
	}
	
#gmenu .gmenu03 .listBlock dl {
	float:left;
	width:475px;
	margin:0 0 0 20px;
	}
	
#gmenu .gmenu03 .listBlock dl dt {
	font-size:14px;
	font-weight:bold;
	margin:0 0 10px 0;
	}
	
#gmenu .gmenu03 .listBlock dl dd {
	font-size:12px;
	}
	
#gmenu .gmenu04 .dropdown .topBlock {	
	border-bottom:solid 1px #efefef;
	width:640px;
	margin:0 0 20px 0;
	}

#gmenu .gmenu04 .dropdown .topBlock li {
	margin:0 30px 20px 0;
	}
	
#gmenu .gmenu04 .dropdown .topBlock li.rt {
	margin:0 0 20px 0;
	}
	
#gmenu .gmenu04 .dropdown .topBlock li.last {
	margin:0 0 20px 0;
	width:410px;
	}
	
#gmenu .gmenu04 .dropdown .topBlock li.last p {
	float:left;
	padding:0 0 10px 10px;
	background:url(../../images/common/icon_link03.gif) 0 8px no-repeat;
	width:145px;
	font-size:12px;
	}
	
#gmenu .gmenu04 .dropdown .topBlock li.last p a {
	color:#222;
	}
	
#gmenu .gmenu04 .dropdown .btmBlock li {
	margin:0 30px 0 0;
	}

#gmenu .gmenu05 .dropdown .topArea {
	padding:0 0 30px 0;
	margin:0 0 30px 0;
	border-bottom:solid 1px #efefef;
	}
	
#gmenu .gmenu05 .dropdown .topArea img {
	margin:0 0 15px 0;
	}

#gmenu .gmenu05 .dropdown  a {
	color:#222;
	}
	
#gmenu .gmenu05 .dropdown dt a {
	display:block;
	padding:0 0 10px 15px;
	background:url(../../images/common/icon_link01.gif) 0 5px no-repeat;
	}
	
#gmenu .gmenu05 .dropdown dd a {
	display:block;
	padding:0 0 10px 15px;
	background:url(../../images/common/icon_link02.gif) 0 7px no-repeat;
	font-size:12px;
	}
	
#gmenu .gmenu05 .dropdown .topArea .block {
	float:left;
	width:190px;
	margin:0 50px 0 0;
	}
	
#gmenu .gmenu05 .dropdown .topArea .last {
	margin:0 0 0 0;
	}
	
#gmenu .gmenu05 .dropdown .btmArea .block {
	float:left;
	width:430px;
	margin:0 0 0 0;
	padding:0 49px 0 0;
	border-right:solid 1px #efefef;
	}
	
#gmenu .gmenu05 .dropdown .btmArea .last {
	float:left;
	width:380px;
	margin:0 0 0 0;
	padding:0 50px 0 50px;
	border-right:none;
	}
	
#gmenu .gmenu05 .dropdown .btmArea .block dl {
	float:left;
	}
	
#gmenu .gmenu05 .dropdown .btmArea .block img {
	float:right;
	margin:10px 0 0 0;
	}